{% extends "base.html" %}

{% load static %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'vendor/ckeditor/ckeditor.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            CKEDITOR.replace("id_message", {
                customConfig: "{% static 'vendor/ckeditor/config.js' %}",
                skin: "bootstrapck,{% static 'vendor/ckeditor/skins/bootstrapck/' %}",
            });
        });
    </script>
{% endblock %}

{% block body %}

<div class="content">

    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label }}:<br />
            {{ field }}
            {% if field.auto_id == "id_message" %}
            <div>You can use <a href="https://imgur.com/">Imgur</a> or another file hosting site to host images. You can host videos on <a href="https://youtube.com/">Youtube</a> and then click the Insert Media Embed (<span class="cke_button_icon cke_button__embed_icon" style="float:none">&nbsp;</span></span>) button to insert them.</div>
            {% endif %}
            {{ field.errors }}
        </p>
        {% endfor %}

        <input type="submit" value="Submit" />
    </form>
    <button style="color: red" onclick="window.location.href='{% url 'announcements:delete' id %}'">Delete This Announcement</button>

</div>
{% endblock %}
