h1 {
    font-size:20px;
    float:none;
    text-align:center;
}
ul.right {
    position:absolute;
    right:5px;
    top:0;
    margin-top:-2px;
}
.footer {
    position:fixed;
    bottom:5px;
    right:5px;
    font-size:10px;
}
h1 {
    margin:6px 0;
}
.main {
    width:100%;
    max-width:none;
    position:initial;
}
a.title {
    color: white;
}
div.title {
    font-size: 20px;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 30px;
    position: absolute;
    text-align: center;
}
.row {
    width: 100%;
}
.col-md-6 {
    width: 50%;
    float: left;
}
ul.messages {
    list-style-type: none;
    padding-left: 0px;
}
ul.messages li {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
}
ul.messages li.info {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
@media screen and (max-device-width: 640px) {
    .footer {
        position: static;
        text-align: center;
    }
    .hide-sm {
        display: none;
    }
    .col-md-6 {
        margin-bottom: 15px;
        width: 100%;
    }
    textarea {
        width: 100%;
    }
}
@media screen and (min-device-width: 640px) {
    .show-sm {
        display: none;
    }
}
