

.content {
    width: 100%;
    position: relative;
}

.content > div {
    position: relative;
    /*height: 500px;
    float: left;
    padding: 10px;
    margin: 0;
    */
    margin-bottom: 15px;
}

.events {
}

.schedule {
}

.scoreboard {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    overflow-x: auto;
}
.scoreboard .scores {
    min-width: 500px;
}
.scoreboard .scores .score-group {
    white-space:  nowrap;
    display: block;
}

.scoreboard .score-group.total > div {
    font-weight: bold;
}

.scoreboard .scores .score-group div {
    font-size: 18px;
    text-align: center;
    background-color: rgba(255, 220, 20, .7);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    vertical-align: center;
    display:  inline-block;
    line-height: 50px;
    overflow-x: hidden;
}


.scoreboard .scoreboard-header > div {
    display: inline-block;
}
.scoreboard .scoreboard-header span.freshman-title:after {
    content: "Freshmen"
}
.scoreboard .scoreboard-header span.sophomore-title:after {
    content: "Sophomores"
}
.scoreboard .scoreboard-header span.junior-title:after {
    content: "Juniors"
}
.scoreboard .scoreboard-header span.senior-title:after {
    content: "Seniors"
}

.scoreboard .scores .scoreboard-header > div {
    background-color: transparent;
    font-weight: bold;
}

.scoreboard .scores .scoreboard-header .score-header {
    font-size: 14px;
}

.scoreboard .event-name {
    width: 300px;
    height: 50px;
    text-overflow: ellipsis;
}
.scoreboard .scores .scoreboard-header .event-name-header {
    font-size: 14px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.scoreboard .scores > .score-group > .score-header {
    padding: 0;
    margin-left: 2px;
    margin-right: 2px;
    width: 86px;
}
@media screen and (max-width: 990px) {
    .scoreboard .scores .score-group div {
        margin-left: 5px;
        margin-right: 5px;
    }
    .scoreboard .scores > .score-group > .score-header {
        width: 66px;
    }
    .scoreboard .scoreboard-header span.freshman-title:after {
        content: "2020"
    }
    .scoreboard .scoreboard-header span.sophomore-title:after {
        content: "2019"
    }
    .scoreboard .scoreboard-header span.junior-title:after {
        content: "2018"
    }
    .scoreboard .scoreboard-header span.senior-title:after {
        content: "2017"
    }
    .scoreboard .event-name {
        width:  200px;
    }
}
.scoreboard .score {
    width: 50px;
    height: 50px;
}

.overview {
    text-align: center;
}
.overview .box-container {
    display: inline-block;
    margin: 0 auto;
    width: 284px;
}
.overview .box {
    display: inline-block;
    position: relative;
    background-color: #545454;
    color: white;
    padding: 15px;
    padding-bottom: 20px;
    margin: 5px;
    width: 100px;
    height: 80px;
    overflow: hidden;
}
.overview .box .class {
    font-size: 1.5em;
}
.overview .box .score {
    font-size: 2em;
}

.panel {
    vertical-align: top;
    margin-bottom: 10px;
    width: 300px;
}

.events {
    text-align: center;
}

h2 {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

h3 {
    height: 20px;
}

.events .panel-heading a {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.events .panel {
    text-align: left;
    display: inline-block;
    margin: 5px;
}

.panel-heading {
    background-color: #0048ab;
    padding: 3px;
    padding-left: 5px;
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.panel-body {
    padding: 5px;
    border: 1px solid #ccc;
    border-top: none;
    overflow-wrap: break-word;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.panel-body iframe {
    width: 100%;
}

.corner-ribbon {
    width: 95px;
    background: #e43;
    position: absolute;
    top: 5px;
    left: -30px;
    text-align: center;
    line-height: 25px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.gold {
    background-color: #C98910;
}
.silver {
    background-color: #A8A8A8;
}
.bronze {
    background-color: #965A38;
}
.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-break: auto;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    font-size: .875rem;
    word-wrap: break-word;
}
.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: .25rem;
}
.can-edit:after {
    content: " (click to edit)";
    font-weight: normal;
    font-size: 0.7em;
}

.panel-body .date {
    color: #888;
}

.panel-heading .pull-right {
    font-weight: normal;
    margin-right: 5px;
}
