div.title {
    font-size: 20px;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 30px;
    position: absolute;
    text-align: center;
}

.header .dropdown-menu {
    margin-top: 42px;
    right: 5px;
}

.header .username {
}

.content {
    width: 100%;
    position: relative;
}

.content > div {
    height: 500px;
    float: left;
    padding: 10px;
    margin: 0;
    position: relative;
}

.events {
}

.schedule {
}

.scoreboard {
}
