

.content {
    width: 100%;
    position: relative;
}

.content > div {
    position: relative;
    /*height: 500px;
    float: left;
    padding: 10px;
    margin: 0;
    */
    margin-bottom: 15px;
}

.events {
}

.schedule {
}

.scoreboard {
}
.scoreboard .total {
    border-top:1px solid #666;
}

.overview {
    text-align: center;
}
.overview .box-container {
    display: inline-block;
    margin: 0 auto;
    width: 284px;
}
.overview .box {
    display: inline-block;
    background-color: #545454;
    color: white;
    padding: 15px;
    padding-bottom: 20px;
    margin: 5px;
    width: 100px;
    height: 80px;
}
.overview .box .class {
    font-size: 1.5em;
}
.overview .box .score {
    font-size: 2em;
}

.panel {
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 400px;
}

.panel-heading {
    background-color: #0048ab;
    padding: 3px;
    padding-left: 5px;
    color: white;
}

.panel-body {
    padding: 5px;
    border: 1px solid #ccc;
    border-top: none;
}

.scoreboard table {
    width: 100%;
}
