[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
bleach = "*"
social-auth-app-django = "*"
sentry-sdk = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
