Babel==2.5.1
bleach==2.0.0
Delorean==0.6.0
Django==1.11.22
html5lib==0.999999999
humanize==0.5.1
oauthlib==2.0.4
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
tzlocal==1.4
