Babel==2.3.4
bleach==1.4.3
Delorean==0.6.0
Django==1.10.1
html5lib==0.9999999
humanize==0.5.1
oauthlib==2.0.0
python-dateutil==2.5.3
pytz==2016.6.1
requests==2.11.1
requests-oauthlib==0.6.2
six==1.10.0
tzlocal==1.2.2
