{% extends "base.html" %}

{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.min.css' %}" />
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
<script src="//cdn.ckeditor.com/4.5.11/standard/ckeditor.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $.datetimepicker.setLocale('en');
    $(".datetimepicker").datetimepicker();
    CKEDITOR.editorConfig = function( config ) {
        config.toolbar = [
    { name: 'clipboard', items: ['Undo', 'Redo' ] },
    { name: 'links', items: [ 'Link', 'Unlink' ] },
    { name: 'insert', items: [ 'Image', 'Table', 'HorizontalRule', 'SpecialChar' ] },
    { name: 'tools', items: [ 'Maximize' ] },
    { name: 'basicstyles', items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ] },
    { name: 'paragraph', items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote' ] },
    { name: 'styles', items: [ 'Styles', 'Format' ] }
];
    };
    CKEDITOR.replace("id_description", {
        customConfig: "{% static 'js/ckconfig.js' %}",
        skin: "bootstrapck,{% static 'skins/bootstrapck/' %}"
    });
});
</script>
{% endblock %}

{% block body %}

<div class="content">

    <div class="row">
        <div class="col-md-6">
        <h2>Edit <b>{{ scoreboard.event.name }}</b></h2>
            <hr />
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="event_info" value="true" />
                {% for field in event_form %}
                <p>
                    {{ field.label }}:<br />
                    {{ field }}
                    {{ field.errors }}
                </p>
                {% endfor %}

                <input type="submit" value="Edit Event" />
            </form>
        </div>

        <div class="col-md-6">
            <h2>Edit Scores for <b>{{ scoreboard.event.name }}</b></h2>
            <hr />
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="event_score" value="true" />
                {% for field in score_form %}
                <p>
                    {{ field.label }}:<br />
                    {{ field }}
                    {{ field.errors }}
                </p>
                {% endfor %}

                <input type="submit" value="Edit Scores" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
