{% extends "base.html" %}

{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.min.css' %}">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/calendar.min.js' %}"></script>

{% endblock %}

{% block body %}

<div class="overview">
    <div class="box-container">
        <div class="box">
            <div class="class">2020</div>
            <div class="score">{{ freshman_total|floatformat }}</div>
            points
        </div>
        <div class="box">
            <div class="class">2019</div>
            <div class="score">{{ sophomore_total|floatformat }}</div>
            points
        </div>
    </div>
    <div class="box-container">
        <div class="box">
            <div class="class">2018</div>
            <div class="score">{{ junior_total|floatformat }}</div>
            points
        </div>
        <div class="box">
            <div class="class">2017</div>
            <div class="score">{{ senior_total|floatformat }}</div>
            points
        </div>
    </div>
</div>

<div class="scoreboard">
    <h2>Scoreboard</h2>
    <table>
        <thead>
            <tr>
                <td><h3>Event<span class="hide-sm"> Name</span></h3></td>
                <td><h3><span class="show-sm">2020</span><span class="hide-sm">Freshman Score</span></h3></td>
                <td><h3><span class="show-sm">2019</span><span class="hide-sm">Sophomore Score</span></h3></td>
                <td><h3><span class="show-sm">2018</span><span class="hide-sm">Junior Score</span></h3></td>
                <td><h3><span class="show-sm">2017</span><span class="hide-sm">Senior Score</span></h3></td>
        </thead>
        <tbody>
        {% for scoreboard in scoreboards %}
            <tr>
                <td>{% if is_admin %}<a href="{% url 'edit_scores' scoreboard.event.id %}" style="color: black;">{% endif %}{{ scoreboard.event.name }}{% if is_admin %}</a>{% endif %}</td>
                <td>{{ scoreboard.freshman_score}}</td>
                <td>{{ scoreboard.sophomore_score }}</td>
                <td>{{ scoreboard.junior_score }}</td>
                <td>{{ scoreboard.senior_score }}</td>
            </tr>
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td>{{ freshman_total }}</td>
            <td>{{ sophomore_total }}</td>
            <td>{{ junior_total }}</td>
            <td>{{ senior_total }}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="events">
    <h2>Events</h2>
    {% for event in events %}
        <div class="panel">
            <div class="panel-heading">
                <h3>{% if is_admin %}<a href="{% url 'edit_scores' event.id %}" style="color:white;">{% endif %}{{ event.name }}{% if is_admin %}</a>{% endif %}</h3>
            </div>
            <div class="panel-body">
                <p>{{ event.description }}</p>
                <h4>{{ event.time }}</h4>
            </div>
        </div>
    {% endfor %}
</div>
<div class="schedule clearfix">
    <h2 class="pull-left">Schedule</h2>
    <div class="pull-right"><button data-calendar-view="month">Month</button> <button data-calendar-view="day">Day</button></div>
</div>
<div id="calendar"></div>

</div>
<script type="text/javascript">
var calendar = $("#calendar").calendar({
        view: "month",
        events_source: "{% url 'calendar_source' %}",
        tmpl_path: "/static/tmpls/",
        weekbox: false
});
$("button[data-calendar-view]").each(function() {
    var $this = $(this);
    $this.click(function() {
        calendar.view($this.data("calendar-view"));
    });
});
</script>
{% endblock %}
