{% extends "base.html" %}

{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block js %}
    {{ block.super }}

{% endblock %}

{% block body %}

<div class="scoreboard">
    <h2>Scoreboard</h2>
    <table>
        <thead>
            <tr>
                <td><h3>Event Name</h3></td>
                <td><h3>Freshman Score</h3></td>
                <td><h3>Sophomore Score</h3></td>
                <td><h3>Junior Score</h3></td>
                <td><h3>Senior Score</h3></td>
        </thead>
        <tbody>
        {% for scoreboard in scoreboards %}
            <tr>
                <td>{{ scoreboard.event.name }}</td>
                <td>{{ scoreboard.freshman_score}}</td>
                <td>{{ scoreboard.sophomore_score }}</td>
                <td>{{ scoreboard.junior_score }}</td>
                <td>{{ scoreboard.senior_score }}</td>
            </tr>
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td>{{ freshman_total }}</td>
            <td>{{ sophomore_total }}</td>
            <td>{{ junior_total }}</td>
            <td>{{ senior_total }}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="events">
    <h2>Events</h2>
    {% for event in events %}
        <h3>{{ event.name }}</h3>
        <p>{{ event.description }}</p>
        <h4>{{ event.time }}</h4>
    {% endfor %}
</div>
<div class="schedule">
    <h2>Schedule</h2>
    {{ schedule }}
</div>

</div>
{% endblock %}
