{% extends 'base.html' %}
{% load static %}
{% block css %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock %}
{% block body %}
<div class="main">
	<div class="login-box">
		<p>To access this application, you must <b>log in with your Intranet account.</b></p>
		<center>
            <form action="{% url 'social:begin' 'ion' %}{% if request.GET.next %}?next={{ request.GET.next|urlencode }}{% endif %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Login with Ion">
            </form>
		</center>
	</div>
</div>

{% endblock %}
