{% extends 'base.html' %}
{% block css %}
<style>h1{font-size:20px;float:none;text-align:center}ul.right{position:absolute;right:5px;top:0;margin-top:-2px}.footer{position:fixed;bottom:5px;right:5px;font-size:12px}</style>
<style type="text/css">h1{margin:6px 0}.main{width:100%;max-width:none;position:initial}.login-box{background:#fff;padding:15px;border:1px solid #0048ab;position:absolute;left:50%;width:438px;margin-left:-219px}.login-box p{text-align:center}</style>
{% endblock %}
{% block body %}
<div class="nav-g"></div>
<div class="header">
	<h1>Homecoming 2016</h1>
	<ul class="right">
	</ul>
</div>
<div class="main">
	<div class="login-box">
		<p>To access this application, you must <b>log in with your Intranet account.</b></p>
		<center>
			<b>{{ message }}</b><br />
			<a href="{{ oauth_href }}" class="button">
				Log In with Ion
			</a>
		</center>
	</div>
</div>
<div class="footer">
	This application developed by [developers].
</div>
{% endblock %}
