<!DOCTYPE html>

{% load static %}
{% load users %}

<html>
<head>
    <title>{% block title %}TJ Homecoming{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/tjcsl.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:100italic,400italic,700italic,100,400,700"/>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/messenger/css/messenger.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/messenger/css/messenger-theme-future.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block css %} 
    {% endblock %}
    <script type="text/javascript" src="{% static 'vendor/jquery/jquery-1.10.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/jquery/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/messenger/js/messenger.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/messenger/js/messenger-theme-future.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/nav.js' %}"></script>
    {% block js %}
    {% endblock %}
    <script type="text/javascript">
        $(document).ready(function() {
            {% for message in messages %}
                Messenger().post({
                    message: "{{ message|escapejs }}",
                    type: "{{ message.tags|escapejs }}",
                    showCloseButton: true
                });
            {% endfor %}
            $("#username")
                .hover(
                    function () {
                        $(this).text("Logout");
                        $(this).css("text-decoration", "underline");
                    },
                    function () {
                        $(this).text("{{ user.username }}");
                        $(this).css("text-decoration", "none");
                    }
                )
                .click(function () {
                    window.location.href = "{% url 'auth:logout' %}";
                });
        });
    </script>
</head>
<body>
<div class="header">
    <a href="/" class="title">
    <div class="title">
        Homecoming {{ homecoming_display_year }}
    </div>
    </a>
    <div class="right">
        {% if user|has_management_permissions %}
        <li class="username" style="margin: 0; padding: 0">
            <a href="{% url 'announcements:create_announcement_page' %}" style="color: white">
                <i class="fa fa-plus"></i>
                <span class="user-name">Create Announcement</span>
            </a>
            <a href="{% url 'events:create_event_page' %}" style="color: white;">
                <i class="fa fa-plus"></i>
                <span class="user-name">Create Event</span>
            </a>
            <a href="{% url 'base:reset' %}" style="color: white">
                <i class="fa fa-times"></i>
                <span class="user-name">Reset Data</span>
            </a>
        </li>
        {% endif %}
        <li class="username">
            <span id="username" class="user-name">{{ user.username }}</span>
            <a href="{% url 'auth:logout' %}" style="color: white"><i class="fa fa-user" style="color: white"></i></a>
            </div>
        </li>
    </div>
</div>

<div class="content">
    {% block body %}
    {% endblock %}
    <div class="footer">
    This application was developed by Anup Bagali (2021), Omkar Kulkarni (2019), Eric Wang (2017), and James Houghton (2017).
</div>
</body>
</html>
