{% extends "base.html" %}

{% load static %}
{% load users %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/calendar/css/calendar.min.css' %}">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/underscore/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/calendar/js/calendar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/timeago/jquery.timeago.js' %}"></script>

{% endblock %}

{% block body %}

<div class="overview">
    <div class="box-container">
        <div class="box">
            <div class="class">{{ settings.HOMECOMING_YEAR|add:1 }}</div>
            <div class="corner-ribbon"></div>
            <div class="score">{{ senior_total|floatformat }}</div>
            points
        </div>
        <div class="box">
            <div class="class">{{ settings.HOMECOMING_YEAR|add:2 }}</div>
            <div class="corner-ribbon"></div>
            <div class="score">{{ junior_total|floatformat }}</div>
            points
        </div>
    </div>
    <div class="box-container">
        <div class="box">
            <div class="class">{{ settings.HOMECOMING_YEAR|add:3 }}</div>
            <div class="corner-ribbon"></div>
            <div class="score">{{ sophomore_total|floatformat }}</div>
            points
        </div>
        <div class="box">
            <div class="class">{{ settings.HOMECOMING_YEAR|add:4 }}</div>
            <div class="corner-ribbon"></div>
            <div class="score">{{ freshman_total|floatformat }}</div>
            points
        </div>
    </div>
</div>

<h2>Scoreboard</h2>
<div class="scoreboard">
    <div class="scores">
        <div class="score-group scoreboard-header">
            <div class="event-name event-name-header">Event</div>
            <div class="score score-header"><span class="senior-title"></span></div>
            <div class="score score-header"><span class="junior-title"></span></div>
            <div class="score score-header"><span class="sophomore-title"></span></div>
            <div class="score score-header"><span class="freshman-title"></span></div>
        </div>
        {% for scoreboard in scoreboards %}
        <div class="score-group">
            <div class="event-name">{{ scoreboard.event.name }}</div>
            <div class="score">{{ scoreboard.senior_score }}</div>
            <div class="score">{{ scoreboard.junior_score }}</div>
            <div class="score">{{ scoreboard.sophomore_score }}</div>
            <div class="score">{{ scoreboard.freshman_score }}</div>
        </div>
        {% endfor %}
        <div class="score-group total">
            <div class="event-name">Totals</div>
            <div class="score">{{ senior_total }}</div>
            <div class="score">{{ junior_total }}</div>
            <div class="score">{{ sophomore_total }}</div>
            <div class="score">{{ freshman_total }}</div>
        </div>
    </div>
</div>
<div class="events">
    <h2>Events</h2>
    {% for event in events %}
        <div class="panel">
            <div class="panel-heading">
                <h3>
                    {% if user|has_management_permissions %}
                        <a href="{% url 'scores:edit_scores' event.id %}" class="can-edit" style="color: white">{{ event.name }}</a>
                    {% else %}
                        {{ event.name }}
                    {% endif %}
                </h3>
            </div>
            <div class="panel-body">
                <p>Location: <strong>{{ event.location }}</strong> &mdash; <time class="timeago" datetime="{{ event.start_time|date:"c" }}"></time></p>
                {{ event.description|safe }}
                <div class="date">{{ event.start_time|date:"h:i A m/d/Y" }} - {{ event.end_time|date:"h:i A m/d/Y" }}</div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="schedule clearfix">
    <h2 class="pull-left">Schedule</h2>
    <div class="pull-right"><button data-calendar-view="month">Month</button> <button data-calendar-view="day">Day</button></div>
</div>
<div id="calendar"></div>

</div>
<script type="text/javascript">
    var calendar = $("#calendar").calendar({
            view: "month",
            events_source: "{% url 'events:calendar_source' %}",
            tmpl_path: "/static/vendor/tmpls/",
            weekbox: false
    });
    $("button[data-calendar-view]").each(function() {
        var $this = $(this);
        $this.click(function() {
            calendar.view($this.data("calendar-view"));
        });
    });
    function giveRibbons() {
        var arr = [];
        $(".overview .box").each(function() {
            var score = parseFloat($(this).find(".score").text());
            arr.push([$(this), score]);
        });
        arr.sort(function(a, b) {
            return b[1] - a[1];
        });
        var place = 0;
        $.each(arr, function(k, v) {
            if (k > 0 && arr[k - 1][1] !== v[1]) {
                place += 1;
            }
            if (place === 0) {
                v[0].find(".corner-ribbon").addClass("gold").text("1st");
            }
            else if (place === 1) {
                v[0].find(".corner-ribbon").addClass("silver").text("2nd");
            }
            else if (place === 2) {
                v[0].find(".corner-ribbon").addClass("bronze").text("3rd");
            }
        });
    }
    $(document).ready(function() {
        $(".timeago").timeago();
        giveRibbons();
    });
</script>
{% endblock %}
